.fiveStarContainer{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 25px;
    /* justify-content: space-between; */
    margin-top: 10px;
    /* border: 1px solid red; */
    /* padding: 0px 20px; */
}

.FiveStar1{
  padding: 0px 20px;

}

.FiveStar1>h1{
  font-size: 25px;
  font-weight: 700;
}

.fiveStarContainer div{
  background-color: black;
  color: white;
  display: grid;
  /* width: 70%; */
  /* padding: 10px 20px; */
  border: 3px solid orange;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  padding: 20px 20px;
  font-size: 25px;
}

@media screen and (max-width: 1000px) {
    .fiveStarContainer{
        grid-template-columns: repeat(3,1fr);
    }
  }

  @media screen and (max-width: 500px) {
    .fiveStarContainer{
        grid-template-columns: repeat(2,1fr);
    }
  }

  @media screen and (max-width: 340px) {
    .fiveStarContainer{
        grid-template-columns: repeat(1,1fr);
    }
  }