.homeCrousal3 {
   width: 99%;
   margin: auto auto 50px auto;
    
  }
 .homeCrousal3_2{
  display: flex;
  gap: 20px;
  align-items: center;
 }

 .homeCrousal3_2>h1{
  font-size: 20px;
  font-weight: 700;
 }
  
.homeCrousal3_img>img{
  width: 150px;
}