
.quickBite{
    /* margin-top: -100px; */
    padding: 0px 10px;
}

.quickBite1{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0px 10px;
}

.quickBite1>h1{
    font-size: 25px;
    font-weight: 700;
}

.quickBite1>img{
    width: 30px;
}

.quickBite2{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    margin-top: 15px;
    /* padding: 0px 10px; */
}


@media screen and (max-width:1200px) {
    .quickBite2{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width:750px) {
    .quickBite2{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:550px) {
    .quickBite2{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
}